trigger:
  batch: true
  branches:
    include:
    - haruna/managed-grafana-new
    - production
pr: none

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: NetCore1ESPool-Internal
      image: 1es-windows-2022
      os: windows
    sdl:
      policheck:
        enabled: true
      tsa:
        enabled: true

    stages:
      - ${{ if in(variables['Build.SourceBranch'], 'refs/heads/haruna/managed-grafana-new', 'refs/heads/production')}}:
        - template: /eng/deploy-managed-grafana.yml@self
          parameters:
            AMGServiceConnectionName: 'Dotnet Engineering services'
            AMGServiceConnectionId: dd8c2cfc-b9c9-452c-a168-ccd4240ada55
            AMGServiceConnectionClientId: fc1eb341-aea4-4a11-8f80-d14b8775b2ba
            ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/production') }}:
              AMGDeploymentEnvironment: Staging
              AMGGrafanaWorkspaceName: dnceng-grafana-staging
              AMGGrafanaKeyVault: dnceng-amg-int-kv
            ${{ else }}:
              AMGDeploymentEnvironment: Production
              AMGGrafanaWorkspaceName: dnceng-grafana
              AMGGrafanaKeyVault: dnceng-amg-prod-kv