trigger:
  batch: true
  branches:
    include:
    - haruna/managed-grafana-new
    - production
pr: none

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: NetCore1ESPool-Internal
      image: 1es-windows-2022
      os: windows
    sdl:
      policheck:
        enabled: true
      tsa:
        enabled: true

    stages:
      - ${{ if in(variables['Build.SourceBranch'], 'refs/heads/haruna/managed-grafana-new', 'refs/heads/production')}}:
        - template: /eng/deploy-managed-grafana.yml@self
          parameters:
            ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/production') }}:
              DeploymentEnvironment: Staging
              ServiceConnectionName: NetHelixStaging
              GrafanaWorkspaceName: dnceng-grafana-staging
              ServiceConnectionId: 7829de7e-fb4e-4118-8370-475d6bc61905
            ${{ else }}:
              DeploymentEnvironment: Production
              ServiceConnectionName: NetHelix
              GrafanaWorkspaceName: dnceng-grafana
              ServiceConnectionId: a511f6f-b538-48e6-a389-207e430634d1

